PORT=8080
USSD_PATH=/ussd
API_WEATHER_URL=https://api.weatherapi.com/v1/
API_WEATHER_KEY=<a-sua-chave>
DB_PATH=data/weather-ussd.db
RESUME_TTL_MIN=30
WEATHER_HISTORY_DAYS=7
WEATHER_FORECAST_DAYS=2
LOG_DIR=logs
LOG_RETENTION_DAYS=90
